/**
 * everything is gonna be namespaced: gl: game-land, uxo: ultimate xo
 */
$board_side: 300px;
$board_width: $board_side;
$board_height: $board_side;

$cell_bgcolor: #332267;
$cell_borderRadius: 4px;
$cell_margin: 2px;

$page_bgcolor: #664dc1;

$x-color: #eb1650;
$o-color: #ffff00;

.gl-uxo__page {
  width: 100vw;
  height: 100%;
  background-color: $page_bgcolor;
}
.gl-uxo__boardContainer {
  width: 100%;
  height: 100%;
  padding: 20px calc((100% - #{$board_side}) / 2);
}
.gl-uxo__board {
  width: $board_width;
  height: $board_height;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}
.gl-uxo__board__miniboard {
  width: calc((100% - 2 * 3%) / 3);
  height: calc((100% - 2 * 3%) / 3);
  margin-bottom: 3%;
  opacity: 0.7;

  &:nth-child(n + 7) {
    margin-bottom: 0;
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &.active {
    transition: opacity 0.15s ease-in;
    opacity: 1;
    border-radius: $cell_borderRadius;
    cursor: pointer;
  }
}
.gl-uxo__board__cell {
  width: calc((100% - 2 * #{$cell_margin}) / 3);
  height: calc((100% - 2 * #{$cell_margin}) / 3);
  background: $cell_bgcolor;
  margin-bottom: $cell_margin;
  border-radius: $cell_borderRadius;

  &:nth-child(n + 7) {
    margin-bottom: 0;
  }
}
.ux-board__miniBoard--is-playable {
  border: 1px solid white;
}
.gl-uxo__board__playerSymbol {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 16px;
    height: 16px;
  }
}

.icon-o {
  stroke-width: 11;
  stroke: $o-color;
  fill: transparent;
}
.icon-x {
  fill: $x-color;
}
