$root_background: '#';
$main_board_background: '#';

$unclicked_cell_background: '#';

$player_one_symbol_color: '';
$player_two_symbol_color: '';

$player_one_clicked_cell_background: '';
$player_two__clicked_cell_background: '';

$win_position_cell_background: '';
$win_position_symbol_color: '';

$win_line_color: '';
/* Color Theme Swatches in Hex */
$greenhouse-girl-1-hex: #3B745D;
$greenhouse-girl-2-hex: #B3FF00;
$greenhouse-girl-3-hex: #ED4CD1;
$greenhouse-girl-4-hex: #4D1C54;
$greenhouse-girl-5-hex: #E8DBCC;

/* Color Theme Swatches in RGBA */
$greenhouse-girl-1-rgba: rgba(59,116,92, 1);
$greenhouse-girl-2-rgba: rgba(178,255,0, 1);
$greenhouse-girl-3-rgba: rgba(237,76,208, 1);
$greenhouse-girl-4-rgba: rgba(77,28,84, 1);
$greenhouse-girl-5-rgba: rgba(232,219,204, 1);

/* Color Theme Swatches in HSLA */
$greenhouse-girl-1-hsla: hsla(155, 32, 34, 1);
$greenhouse-girl-2-hsla: hsla(78, 100, 50, 1);
$greenhouse-girl-3-hsla: hsla(310, 81, 61, 1);
$greenhouse-girl-4-hsla: hsla(292, 49, 22, 1);
$greenhouse-girl-5-hsla: hsla(32, 37, 85, 1);
